body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #077b2a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #077b2a;
    margin: 0 10px;
}

#description {
    text-align: center;
}

#fullname{
    text-align: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.button-container {
    text-align: center;
    margin-top: 50px;
}

.checkin_button {
    background-color: #077b2a;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 150px;
    width: 300px;
    height: 300px;
    opacity: 0.8;
    box-shadow: 4px 3px 3px #241111;
    transition: 0.5s;
}

.checkin_button:hover{
    box-shadow: 5px 4px 4px #241111;
    opacity: 0.9;
}

#checkIn_text{
    font-size: 40px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: -10px;
}

.location,.checkin_time,.live_time {
    margin: 5px 0;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.live_time{
    font-size: 40px;
    font-weight: bold;
    color: rgb(233, 41, 41);
    
}