body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #077b2a;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container {
  padding: 20px;
}
.user-info {
  text-align: center;
  margin-bottom: 20px;
}
.user-info h2 {
  margin-top: 0;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.user-details {
  margin-top: 10px;
}
.search-bar {
  margin-bottom: 20px;
  text-align: center;
}
.search-bar input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.search-bar button {
  width: 10%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
.result {
  border: 2px solid #4CAF50;
  padding: 10px;
  margin: 20px;
  background-color: #f9f9f9;
  overflow-y: scroll;
}
.result table {
  width: 100%;
  border-collapse: collapse;
}
.result th, .result td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.result th {
  background-color: #4CAF50;
  color: white;
}
.result tr:nth-child(even) {
  background-color: #f2f2f2;
  
}
.result tr:hover {
  background-color: #ddd;
}


.checkin-history {
  border: 2px solid #333;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
}
.checkin-history h2 {
  color: #333;
  text-align: center;
}
.checkin-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  height: 10px;
}


.checkin-history th, .checkin-history td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
.checkin-history th {
  background-color: #333;
  color: white;
}
.checkin-history tr:nth-child(even) {
  background-color: #f2f2f2;
}
.checkin-history tr:hover {
  background-color: #ddd;
}